## **List**

In this class, we will learn about the List.

We will solve some problems to get a better understanding of these data list and it's built-in functions.

#### **Problem 01**
Create the following list using the list constructor and store it in a variable named `my_list`:

`[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

Then, print the list.

In [1]:
# Write your code here
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### **Problem 02**
Create the following list using the list constructor and store it in a variable named `my_list`:

`[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

Then, print how many elements are in the list.

In [4]:
# Write your code here
my_list = list(range(1, 11))
print(my_list)
print("Number of elements:", len(my_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Number of elements: 10

#### **Problem 03**
Create a list of following words and store it in a variable named `my_list`:

`['apple', 'banana', 'orange', 'grape', 'mango']`

Print the word that comes first in the dictionary and the word that comes last in the dictionary from the list. Store theses words in variables named `first_word` and `last_word` respectively. Then, print the first and last words.

In [5]:
# Write your code here
my_list = ['apple', 'banana', 'orange', 'grape', 'mango']


first_word = my_list[0]
last_word = my_list[-1]

print("First word in dictionary order:", first_word)
print("Last word in dictionary order:", last_word)

First word in dictionary order: apple
Last word in dictionary order: mango

#### **Problem 04**
Consider the following list:

`[1,3,5,7,9,11,13,15,17,19]`

Insert the following numbers at the odd indices of the list:

`[2,4,6,8,10,12,14,16,18,20]`

Then, print the list.

In [8]:
# Write your code here
list_1 = [1,3,5,7,9,11,13,15,17,19]
list_2 = [2,4,6,8,10,12,14,16,18,20]

index = 1
for i in list_2:
  list_1.insert(index, i)
  index+=2

print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### **Problem 05**
Consider the following list:

`[1,2,3,4,5,6,7,8,9,10]`

Remove the elements at the odd indices of the list. Then, print the list.

In [9]:
# Write your code here
my_list = [1,2,3,4,5,6,7,8,9,10]

my_list = my_list[::2]

print(my_list)

[1, 3, 5, 7, 9]

#### **Problem 06**
Create a list of 5 cities taken from the user and store them in a variable named `cities`. Sort the list in alphabetical order and store it in a variable named `sorted_cities`. Then, print the sorted list.

In [10]:
# Write your code here
cities = []

for i in range(5):
    city = input(f"Enter city {i+1}: ")
    cities.append(city)

sorted_cities = sorted(cities)


print("Sorted cities:", sorted_cities)

Enter city 1: paris
Enter city 2: vienna
Enter city 3: london
Enter city 4: new york
Enter city 5: montreal
Sorted cities: ['london', 'montreal', 'new york', 'paris', 'vienna']

#### **Problem 07**
Create a list of 5 numbers taken from the user and store it in a variable named `numbers`.

Create another list of 5 cities taken from the user and store it in a variable named `cities`.

Then, print the list of numbers and the tuple of cities.

In [13]:
# Write your code here
numbers = []
cities = []

for i in range(5):
    number = int(input(f"Enter number {i+1}: "))
    numbers.append(number)

for i in range(5):
    city = input(f"Enter city {i+1}: ")
    cities.append(city)

cities_tuple = tuple(cities)

print("List of numbers:", numbers)
print("Tuple of cities:", cities_tuple)

Enter number 1: 2
Enter number 2: 3
Enter number 3: 6
Enter number 4: 9
Enter number 5: 5
Enter city 1: Paris
Enter city 2: London
Enter city 3: Tokyo
Enter city 4: La
Enter city 5: vegas
List of numbers: [2, 3, 6, 9, 5]
Tuple of cities: ('Paris', 'London', 'Tokyo', 'La', 'vegas')