### **Easy**

#### **Problem 01:**

Write a function that will keep taking input from the user until the user '.' (period) is pressed.

**Sample Input:**

```bash
Give any input: 1
Give any input: abc
Give any input: Hello World!
Give any input: .
```

In [ ]:
# Write your code here
while True:
  char  = input("Give any input: ")
  if char == ".":
    break

Give any input: 1
Give any input: kjg
Give any input: .

#### **Problem 02:**

Write a python program that will print the following series in the given format.
$$42, 41, 40, 39, ... , 17$$

**Sample Output:**

```bash
42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, and 17
```

In [ ]:
# Write your code here
n = 42
while n >=17:
  if n > 17:
    print(n, end =  ",")
  else:
    print( " and", n)
  n -=1

42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18, and 17

In [ ]:

# Start value
start = 42

# End value
end = 17

# Loop through the range in reverse order
for number in range(start, end - 1, -1):  # Decrementing by 1
    # Print the numbers separated by commas
    if number > end:
        print(number, end=",")
    else:
        print(number)  # Print the last number without a trailing comma

42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17

#### **Problem 03:**

Write a python program that will calculate the sum of the following series, and print the result in the given format.

$$5, 10, 15, 20, ... , 50$$

**Sample Output:**

```bash
5 + 10 + 15 + 20 + 25 + 30 + 35 + 40 + 45 + 50 = 275
```

In [ ]:
# Write your code here
n = 5
sum = 0
while n<= 50:
  print(n, end = "+")

  sum += n
  n +=5


print("=", sum)

5+10+15+20+25+30+35+40+45+50+= 275

In [ ]:

# Initialize the sum variable
total_sum = 0

# Loop through the series from 5 to 50 with a step of 5
for number in range(5, 51, 5):
    total_sum += number  # Add each number to the sum

# Print the result
print(f"The sum of the series is: {total_sum}")

The sum of the series is: 275

#### **Problem 04:**

Write a python program that will calculate the factorial of a given number.

**Sample Input:**

```bash
Enter a number: 5
```

**Sample Output:**

```bash
Factorial of 5 is 120
```

In [ ]:
# Write your code here
n = 1
product = 1
while n<=5:
  print(n)
  product = product * n
  n +=1


print("Factorial of 5 is ", product)

1
2
3
4
5
Factorial of 5 is  120

In [ ]:


number = int(input("Enter a number to calculate its factorial: "))

factorial = 1


for i in range(1, number + 1):
    factorial *= i

print(f"The factorial of {number} is: {factorial}")

Enter a number to calculate its factorial: 4
The factorial of 4 is: 24

### **Moderate**

#### **Problem 01:**

Write a python program to display the multiplication table of a given number.

**Sample Input:**

```bash
Number for multiplication table: 5
How many multiples: 10
```

**Sample Output:**

```bash
Multiplication table of 5 upto 10 multiples:

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
```

In [ ]:
# Write your code here
n = int(input())
i = 1

while i<=10:
  print(f"{n} x {i} = { n*i}")
  i+=1

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:


number = int(input("Enter a number to display its multiplication table: "))


print(f"Multiplication Table of {number}:")
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

#### **Problem 02:**

Take two integers as input from the user. Then print all the odd numbers between those two numbers.

**Note:** You are not allowed to use $%$ operator.

**Sample Input:**

```bash
Enter first number: 4
Enter second number: 15
```

**Sample Output:**

```bash
Odd numbers between 5 and 15 are: 5, 7, 9, 11, and 13
```

In [ ]:
# Write your code here
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))

n = a
if n%2==0:
    n+=1
while n<b:
  print(n, end = ",")
  n+=2

Enter first number:4
Enter second number:15
5,7,9,11,13,

In [ ]:

# Input from the user
start = int(input("Enter the starting integer: "))
end = int(input("Enter the ending integer: "))

print(f"Odd numbers between {start} and {end}:")
for number in range(start, end + 1):
    if number % 2 != 0:
        print(number, end=" ")

#### **Problem 03:**

Take two integers as input from the user. Then print all numbers between those two numbers which are divisible by 7.

**Note:** You are not allowed to use $%$ operator.

**Sample Input:**

```bash
Enter first number: 4
Enter second number: 23
```

**Sample Output:**

```bash
Numbers between 4 and 23 which are divisible by 7 are: 7, 14, and 21
```

In [ ]:


start = int(input("Enter the starting integer: "))
end = int(input("Enter the ending integer: "))


print(f"Numbers divisible by 7 between {start} and {end}:")
for number in range(start, end + 1):
    if number % 7 == 0:
        print(number, end=" ")

In [ ]:
# Write your code here
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))

n = a
while n<b:
  if n%7==0:
    print(n, end = ",")

  n+=1

Enter first number:4
Enter second number:23
7,14,21,

### **Advance**

#### **Problem 01:**

Write a python find the sum of the following series and print the result in the given format.

$$1,2,4,7,11, ..., 56$$

**Sample Output:**

```bash
1 + 2 + 4 + 7 + 11 + 16 + 22 + 29 + 37 + 46 + 56 = 231
```

In [ ]:
# Write your code here

#### **Problem 02:**

Write a python program that will count the number of digits in a given integer (Note: Do not use string).

**Sample Input:**

```bash
Enter a number: 345678912
```

**Sample Output:**

```bash
Number of digits: 9
```

In [ ]:
# Write your code here